body {
  position: relative;
  color: #1b1b1b;
  font-family: "OpenSans";
  background: #d7ddc1;
}

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  font-weight: 600;
  font-size: large;
}

.header {
  margin: 15px auto 0px;
  font-size: 12px;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}

.task {
  position: relative;
  box-sizing: content-box;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;

  min-height: 300px;
  min-width: 300px;
  max-width: 600px;
  width: calc(100% - 30px);

  margin: 15px 15px 0px;
    
  border-radius: 6px;
  box-shadow: 0px 0px 8px 2px #825e5e;
  background-color: #ba8d8d;
}

.task:last-child {
  margin-bottom: 25px;
}

/* Скрыть/Показать */

.collapse-container {
  position: relative;
  margin: 8px 8px 28px;
  padding-bottom: 20px ;
  background-color: #f3f3f3;
}

.collapse-button {
  padding: 7px 15px;
  margin: 20px 20px 0px;
  
  font-family: inherit;
  
  border: 1px solid #ed07c76e;
  border-radius: 6px;
  
  color: #f0f2f3;
  background-color: rgb(167, 34, 143);
  
  cursor: pointer;
}
  
.collapse-button:hover {
  box-shadow: 0px 0px 10px 1px #193f7c;
}
  
.collapse-button:active {
  box-shadow: 0px 0px 15px 2px #071730;
  background-color: #041125;
}

.collapse-text {
  display: flex;
  margin: 20px 20px 0px;

  max-height: 0px;
  overflow: hidden;

  transition: max-height 1s;
}

.collapse-text p {
  padding: 15px;
  border: 1px solid #808080;
}

.collapse-copy {
  position: absolute;
  bottom: -30px;
  right: 14px;

  font-size: 12px;

  cursor: pointer;
}

.collapse-copy:hover {
  color: #ffffff;
}

.collapse-copy:active {
  color: red;
  transform: scale(1.4);
}

.collapse-transition {
  max-height: 350px;
  transition: max-height 2s;
}